body
{
  display: flex;
  align-content: center;
  justify-content: center;
}
.conteiner
{
flex: 0 0 95%;
height: 90%;
flex-wrap: wrap;
justify-content:center;
}
.menu
{
display: flex;
flex:0 0 100%;
background-color: rgb(198, 210, 210);
justify-content:space-between;
max-height: 10vw;
border-radius: 0 0 15px 15px;
}
.menu_name
{
  font-size: 3vw;
  margin: 1vw;
}
.infoblocks
{
  display: flex;
  justify-content: center;
  align-content:space-around;
  flex-wrap: wrap-reverse;
  background-color: rgb(115, 217, 157)
}
.infoblocks>div
{
  display: flex;
  flex: 0 0 300px;
  background-color: rgb(226, 179, 109);
  border-radius: 20px;

}
.sliders
{
display: flex;
flex:0 0 100%;
justify-content:center;
align-items: center;
align-content:center;
}
.sliders p
{
  width: 70%;
  min-width: 300px;
  padding: 20px 0px 20px 0px;
  margin: 20px 10px 20px 10px;
  border-radius: 10px;
  background: linear-gradient(45deg, #f0d9c9, #0da8ee);
}
.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}
select
{
background-color: rgb(245, 237, 184);
border-radius:5px;
}
